@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

* {
  margin:0;
  padding:0;
  outline:none;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
}

.perso, .perso1, .perso2 {
  width: 100%;
  height: 33.3333333333%;
}

.perso ul, .perso1 ul, .perso2 ul{
	width: 100%;
  height: 100%;
}

.perso ul li, .perso1 ul li, .perso2 ul li {
  float:left;
  width: calc(100% / 5);
  background: #fff;
  height: 100%;
  box-shadow: 0 0 100px rgba(0,0,0,0.8) inset;
  position: relative;
  cursor:pointer;
  background-size: cover !important;
  transition:0.7s all ease-in-out;
  -webkit-transition:0.7s all ease-in-out;
}

.perso ul li.adapt, .perso1 ul li.adapt, .perso2 ul li.adapt {
  width: 15%;
}

.perso ul li.hovered, .perso1 ul li.hovered, .perso2 ul li.hovered {
  width: 40%;
}

.perso ul li p, .perso1 ul li p, .perso2 ul li p{
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  height: 80px;
  line-height:90px;
  width: 150px;
  text-transform:uppercase;
  text-align:center;
  background: rgba(0,0,0,0.8);
  color:#fff;
  transition:0.6s all ease-in-out 0.2s;
  -webkit-transition:0.6s all ease-in-out 0.2s;
}

.perso ul li p:before, .perso1 ul li p:before, .perso2 ul li p:before{
  content:"";
  position: absolute;
  top:0;left:0;
  height: 5px;
  width: 100%;
  background: #fff;
  transform:scaleX(1);
  -webkit-transform:scaleX(1);
  opacity: 1;
  transition:0.6s all ease-in-out 0.2s;
  -webkit-transition:0.6s all ease-in-out 0.2s;
}

.perso ul li p span, .perso1 ul li p span, .perso2 ul li p span{
  position: absolute;
  top:-20px;left:0;right:0;
  margin:0 auto;
  color:#000;
  background: #fff;
  height: 40px;
  line-height:40px;
  width: 40px;
  overflow:hidden;
  transform:perspective(1000px) rotateX(-90deg) rotateZ(45deg);
  -webkit-transform:perspective(1000px) rotateX(-90deg) rotateZ(45deg);
  transition:0.4s all ease-out 0.2s;
  -webkit-transition:0.4s all ease-out 0.2s;
}

.perso ul li p span:after, .perso1 ul li p span:after, .perso2 ul li p span:after {
  content:"+";
  position: absolute;
  top:0;
  left:0;
  height: 40px;
  line-height:40px;
  text-align:center;
  width: 40px;
  font-size: 24px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.perso ul li:hover p, .perso1 ul li:hover p, .perso2 ul li:hover p {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  width: 200px;
  letter-spacing:2px;
}

.perso ul li:hover p:before, .perso1 ul li:hover p:before, .perso2 ul li:hover p:before {
  opacity: 1;
  transform:scaleX(0);
  -webkit-transform:scaleX(0);
}

.perso ul li:hover p span, .perso1 ul li:hover p span, .perso2 ul li:hover p span {
  top:-20px;
  transform:perspective(1000px) rotateX(0deg) rotateZ(45deg);
  -webkit-transform:perspective(1000px) rotateX(0deg) rotateZ(45deg);
    transition:0.4s all ease-out 0.8s;
  -webkit-transition:0.4s all ease-out 0.8s;
}

.perso ul li:nth-of-type(1) {
  background: url("./img/emeraude.jpg") no-repeat center center;
  background-size:cover;
}

.perso ul li:nth-of-type(2) {
  background: url("./img/shola.png") no-repeat center center;
  background-size:cover;
}

.perso ul li:nth-of-type(3) {
  background: url("./img/beryl.jpg") no-repeat center center;
  background-size:cover;
}
.perso ul li:nth-of-type(4) {
  background: url("./img/cristal.jpg") no-repeat center center;
  background-size: cover;
}
.perso ul li:nth-of-type(5) {
  background: url("./img/argent.png") no-repeat center center;
  background-size:cover;

}

/* SECOND PART */

.perso1 ul li:nth-of-type(1) {
  background: url("./img/diamant.jpg") no-repeat center center;
  background-size:cover;
}

.perso1 ul li:nth-of-type(2) {
  background: url("./img/zenor.png") no-repeat center center;
  background-size:cover;
}

.perso1 ul li:nth-of-type(3) {
  background: url("./img/rubis.jpg") no-repeat center center;
  background-size:cover;
}
.perso1 ul li:nth-of-type(4) {
  background: url("./img/jade.jpg") no-repeat center center;
  background-size: cover;
}
.perso1 ul li:nth-of-type(5) {
  background: url("./img/opale.jpg") no-repeat center center;
  background-size:cover;
}

/* THIRD PART */

.perso2 ul li:nth-of-type(1) {
  background: url("./img/elfe.jpg") no-repeat center center;
  background-size:cover;
}

.perso2 ul li:nth-of-type(2) {
  background: url("./img/fée.jpg") no-repeat center center;
  background-size:cover;
}

.perso2 ul li:nth-of-type(3) {
  background: url("./img/turquoise.png") no-repeat center center;
  background-size:cover;
}
.perso2 ul li:nth-of-type(4) {
  background: url("./img/perle.jpg") no-repeat center center;
  background-size: cover;
}
.perso2 ul li:nth-of-type(5) {
  background: url("./img/fal.jpg") no-repeat center center;
  background-size:cover;
}


article {
  display:none;
  position: absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 2;
}

article:nth-of-type(1) {
  background: url("./img/emeraude.jpg") no-repeat top center;
  background-size:cover;
}

article:nth-of-type(2) {
  background: url("./img/shola.png") no-repeat top center;
  background-size:cover;
}

article:nth-of-type(3) {
  background: url("./img/beryl.jpg") no-repeat top center;
  background-size:cover;
}
article:nth-of-type(4) {
  background: url("./img/cristal.jpg") no-repeat top center;
  background-size: cover;
}
article:nth-of-type(5) {
  background: url("./img/argent.png") no-repeat top center;
  background-size:cover;
}

/* SECOND PART */

article:nth-of-type(6) {
  background: url("./img/diamant.jpg") no-repeat top center;
  background-size:cover;
}

article:nth-of-type(7) {
  background: url("./img/zenor.png") no-repeat top center;
  background-size:cover;
}

article:nth-of-type(8) {
  background: url("./img/rubis.jpg") no-repeat top center;
  background-size:cover;
}
article:nth-of-type(9) {
  background: url("./img/jade.jpg") no-repeat top center;
  background-size: cover;
}
article:nth-of-type(10) {
  background: url("./img/opale.jpg") no-repeat top center;
  background-size:cover;
}

/* THIRD PART */

article:nth-of-type(11) {
  background: url("./img/elfe.jpg") no-repeat top center;
  background-size:cover;
}

article:nth-of-type(12) {
  background: url("./img/fée.jpg") no-repeat top center;
  background-size:cover;
}

article:nth-of-type(13) {
  background: url("./img/turquoise.png") no-repeat top center;
  background-size:cover;
}
article:nth-of-type(14) {
  background: url("./img/perle.jpg") no-repeat top center;
  background-size: cover;
}
article:nth-of-type(15) {
  background: url("./img/fal.jpg") no-repeat top center;
  background-size:cover;
}



article .text-wrap {
  position: absolute;
  top:0;left:150px;bottom:0;
  width: 600px;
  height: 800px;
  background:rgba(0,0,0,0.7);
  color: #fff;
  margin: auto 0;
  box-sizing:border-box;
  padding:80px 40px;
  opacity: 0;
  animation: 0.6s fadeInLeft ease-out forwards 0.8s;
  -webkit-animation: 0.6s fadeInLeft ease-out forwards 0.8s;
}

article h2 {
  margin-bottom:20px;
  font-size:48px;
  text-transform:uppercase;
}

article p {
  opacity: 0.5;
  letter-spacing:1px;
  font-weight:300;
  font-size:16px;
  line-height:24px;
}

article span.close {
  color:#fff;
  position: absolute;
  top:12%;left:80%;
  background: rgba(0,0,0,0.7);
  height: 50px;
  line-height:50px;
  text-align:center;
  width: 50px;
  cursor:pointer;
  opacity: 0;
    animation: 0.6s fadeInLeft ease-out forwards 1.2s;
  -webkit-animation: 0.6s fadeInLeft ease-out forwards 1.2s;
}

article span.close:after {
  content:"Retour";
  position: absolute;
  width: 80px;
  line-height:10px;
  color: #000;
  bottom:-30px;
  left:-15px;
  text-transform:uppercase;
  font-size:10px;
}

svg {
  display: none;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    filter:url('#blur');
    -webkit-filter:url('#blur');
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(8%, 0, 0);
    transform: translate3d(8%, 0, 0);
    filter:url('#blur');
    -webkit-filter:url('#blur');
  }
  
  80% {
    opacity: 1;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
    filter:url('#blur');
    -webkit-filter:url('#blur');
  }
  
   100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    filter: none;
    -webkit-filter: none;
  }
}